<html>
<head>
    <title>Barcode</title>
    <link rel="icon" href="../images/reclaimLogo.PNG">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="main.css">
    <!-- jQuery Javascript library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="/plugins/quaggaJS/dist/quagga.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Reclaim</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
      <div class="container-fluid">
          <div class="jumbotron">
              <div class="log-div">
                  <div class="barcode">
                    <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput">
                    <a href="#" class="btn btn-default btn-link">Register Now</a>
                  </div>
                  <a class="btn btn-link btn-advanceS" data-toggle="collapse" href="#advanced-options" aria-expanded="false" aria-controls="advanced-options">Manually input barcode value</a>
                  <div id="advanced-options" class="col-xs-12 col-sm-8 collapse">
                    <form>
                      <div class="form-group col-md-12">
                          <label for="barcode" class="control-label">Barcode</label>
                          <input required type="number" class="form-control" id="manual_barcode" name="barcode">
                      </div>
                      <a href="#" id="barcode_manual" class="btn btn-default btn-link">Search</a>
                    </form>
                  </div>
              </div>
          </div>
      </div>
</body>
</html>
