<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>council information</title>
    <link rel="icon" href="../images/reclaimLogo.PNG">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Material Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery Javascript library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Bootstrap Material Design -->
    <link href="css/bootstrap-material-css/bootstrap-material-design.css" rel="stylesheet">
    <link href="css/bootstrap-material-css/ripples.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Reclaim</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="login.html">Login</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class = "panel-title">
                            <a data-toggle="collapse" href ="#council1" style="color: white">Bournemouth Council</a>
                        </h4>
                    </div>
                    <div id="council1" class="panel-collapse collapse container-fluid">
                        <div class="content row">
                           <div class="materials col-xs-6">
                               Recycable materials
                               <div>
                                   <div>
                                       <a class="label label-primary" data-toggle="collapse" href="#green-list" aria-expanded="false"
                                          aria-controls="green-list" style="color: white">Green bin</a>
                                       <div id="green-list" class="collapse material-list">
                                           <ul>
                                               <li>
                                                   Fruit
                                               </li>
                                               <li>
                                                   Vegetable
                                               </li>
                                               <li>
                                                   Pizza box
                                               </li>
                                           </ul>
                                       </div>
                                   </div>
                                   <div>
                                       <a class="label label-primary" data-toggle="collapse" href="#red-list"
                                          aria-expanded="false"
                                          aria-controls="red-list" style="color: white; background-color: #f40600;">Red
                                           bin</a>
                                       <div id="red-list" class="collapse material-list">
                                           <ul>
                                               <li>
                                                   Metal
                                               </li>
                                               <li>
                                                   Coffee cups
                                               </li>
                                               <li>
                                                   Food wraps
                                               </li>
                                           </ul>
                                       </div>
                                   </div>
                                   <div>
                                       <a class="label label-primary" data-toggle="collapse" href="#blue-list"
                                          aria-expanded="false"
                                          aria-controls="blue-list" style="color: white;background-color: #03a9f4">Blue bin</a>
                                       <div id="blue-list" class="collapse material-list">
                                           <ul>
                                               <li>
                                                   Shredded paper
                                               </li>
                                               <li>
                                                   Wrapping paper
                                               </li>
                                               <li>
                                                   Aluminium foil
                                               </li>
                                           </ul>
                                       </div>
                                   </div>
                               </div>
                           </div>
                            <div class="postcodes col-xs-6">
                                Related postcodes
                                <ul>
                                    <li>
                                        BH1 DH3
                                    </li>
                                    <li>
                                        BH6 JD6
                                    </li>
                                    <li>
                                        BH8 KJD
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class = "panel-title">
                            <a data-toggle="collapse" href ="#council2" style="color: white">Poole Council</a>
                        </h4>
                    </div>
                    <div id="council2" class="panel-collapse collapse container-fluid">
                        <div class="content row">
                            <div class="materials col-xs-6">
                                Recycable materials
                                <div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#green-list1"
                                           aria-expanded="false"
                                           aria-controls="green-list1" style="color: white">Green bin</a>
                                        <div id="green-list1" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Fruit
                                                </li>
                                                <li>
                                                    Vegetable
                                                </li>
                                                <li>
                                                    Pizza box
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#red-list1"
                                           aria-expanded="false"
                                           aria-controls="red-list1"
                                           style="color: white; background-color: #f40600;">Red
                                            bin</a>
                                        <div id="red-list1" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Metal
                                                </li>
                                                <li>
                                                    Coffee cups
                                                </li>
                                                <li>
                                                    Food wraps
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#blue-list1"
                                           aria-expanded="false"
                                           aria-controls="blue-list1"
                                           style="color: white;background-color: #03a9f4">Blue bin</a>
                                        <div id="blue-list1" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Shredded paper
                                                </li>
                                                <li>
                                                    Wrapping paper
                                                </li>
                                                <li>
                                                    Aluminium foil
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="postcodes col-xs-6">
                                Related postcodes
                                <ul>
                                    <li>
                                        BH1 DH3
                                    </li>
                                    <li>
                                        BH6 JD6
                                    </li>
                                    <li>
                                        BH8 KJD
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class = "panel-title">
                            <a data-toggle="collapse" href ="#council3" style="color: white">Portsmouth Council</a>
                        </h4>
                    </div>
                    <div id="council3" class="panel-collapse collapse container-fluid">
                        <div class="content row">
                            <div class="materials col-xs-6">
                                Recycable materials
                                <div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#green-list2"
                                           aria-expanded="false"
                                           aria-controls="green-list2" style="color: white">Green bin</a>
                                        <div id="green-list2" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Fruit
                                                </li>
                                                <li>
                                                    Vegetable
                                                </li>
                                                <li>
                                                    Pizza box
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#red-list2"
                                           aria-expanded="false"
                                           aria-controls="red-list2"
                                           style="color: white; background-color: #f40600;">Red
                                            bin</a>
                                        <div id="red-list2" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Metal
                                                </li>
                                                <li>
                                                    Coffee cups
                                                </li>
                                                <li>
                                                    Food wraps
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#blue-list2"
                                           aria-expanded="false"
                                           aria-controls="blue-list2"
                                           style="color: white;background-color: #03a9f4">Blue bin</a>
                                        <div id="blue-list2" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Shredded paper
                                                </li>
                                                <li>
                                                    Wrapping paper
                                                </li>
                                                <li>
                                                    Aluminium foil
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="postcodes col-xs-6">
                                Related postcodes
                                <ul>
                                    <li>
                                        BH1 DH3
                                    </li>
                                    <li>
                                        BH6 JD6
                                    </li>
                                    <li>
                                        BH8 KJD
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class = "panel-title">
                            <a data-toggle="collapse" href ="#council4" style="color: white">Durham Council</a>
                        </h4>
                    </div>
                    <div id="council4" class="panel-collapse collapse container-fluid">
                        <div class="content row">
                            <div class="materials col-xs-6">
                                Recycable materials
                                <div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#green-list3"
                                           aria-expanded="false"
                                           aria-controls="green-list3" style="color: white">Green bin</a>
                                        <div id="green-list3" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Fruit
                                                </li>
                                                <li>
                                                    Vegetable
                                                </li>
                                                <li>
                                                    Pizza box
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#red-list3"
                                           aria-expanded="false"
                                           aria-controls="red-list3"
                                           style="color: white; background-color: #f40600;">Red
                                            bin</a>
                                        <div id="red-list3" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Metal
                                                </li>
                                                <li>
                                                    Coffee cups
                                                </li>
                                                <li>
                                                    Food wraps
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#blue-list3"
                                           aria-expanded="false"
                                           aria-controls="blue-list3"
                                           style="color: white;background-color: #03a9f4">Blue bin</a>
                                        <div id="blue-list3" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Shredded paper
                                                </li>
                                                <li>
                                                    Wrapping paper
                                                </li>
                                                <li>
                                                    Aluminium foil
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="postcodes col-xs-6">
                                Related postcodes
                                <ul>
                                    <li>
                                        BH1 DH3
                                    </li>
                                    <li>
                                        BH6 JD6
                                    </li>
                                    <li>
                                        BH8 KJD
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class = "panel-title">
                            <a data-toggle="collapse" href ="#council5" style="color: white">Bath Council</a>
                        </h4>
                    </div>
                    <div id="council5" class="panel-collapse collapse container-fluid">
                        <div class="content row">
                            <div class="materials col-xs-6">
                                Recycable materials
                                <div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#green-list4"
                                           aria-expanded="false"
                                           aria-controls="green-list4" style="color: white">Green bin</a>
                                        <div id="green-list4" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Fruit
                                                </li>
                                                <li>
                                                    Vegetable
                                                </li>
                                                <li>
                                                    Pizza box
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#red-list4"
                                           aria-expanded="false"
                                           aria-controls="red-list4"
                                           style="color: white; background-color: #f40600;">Red
                                            bin</a>
                                        <div id="red-list4" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Metal
                                                </li>
                                                <li>
                                                    Coffee cups
                                                </li>
                                                <li>
                                                    Food wraps
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#blue-list4"
                                           aria-expanded="false"
                                           aria-controls="blue-list4"
                                           style="color: white;background-color: #03a9f4">Blue bin</a>
                                        <div id="blue-list4" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Shredded paper
                                                </li>
                                                <li>
                                                    Wrapping paper
                                                </li>
                                                <li>
                                                    Aluminium foil
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="postcodes col-xs-6">
                                Related postcodes
                                <ul>
                                    <li>
                                        BH1 DH3
                                    </li>
                                    <li>
                                        BH6 JD6
                                    </li>
                                    <li>
                                        BH8 KJD
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class = "panel-title">
                            <a data-toggle="collapse" href ="#council6" style="color: white">London Council</a>
                        </h4>
                    </div>
                    <div id="council6" class="panel-collapse collapse container-fluid">
                        <div class="content row">
                            <div class="materials col-xs-6">
                                Recycable materials
                                <div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#green-list5"
                                           aria-expanded="false"
                                           aria-controls="green-list5" style="color: white">Green bin</a>
                                        <div id="green-list5" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Fruit
                                                </li>
                                                <li>
                                                    Vegetable
                                                </li>
                                                <li>
                                                    Pizza box
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#red-list5"
                                           aria-expanded="false"
                                           aria-controls="red-list5"
                                           style="color: white; background-color: #f40600;">Red
                                            bin</a>
                                        <div id="red-list5" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Metal
                                                </li>
                                                <li>
                                                    Coffee cups
                                                </li>
                                                <li>
                                                    Food wraps
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#blue-list5"
                                           aria-expanded="false"
                                           aria-controls="blue-list5"
                                           style="color: white;background-color: #03a9f4">Blue bin</a>
                                        <div id="blue-list5" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Shredded paper
                                                </li>
                                                <li>
                                                    Wrapping paper
                                                </li>
                                                <li>
                                                    Aluminium foil
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="postcodes col-xs-6">
                                Related postcodes
                                <ul>
                                    <li>
                                        BH1 DH3
                                    </li>
                                    <li>
                                        BH6 JD6
                                    </li>
                                    <li>
                                        BH8 KJD
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class = "panel-title">
                            <a data-toggle="collapse" href ="#council7" style="color: white">Milton Keynes Council</a>
                        </h4>
                    </div>
                    <div id="council7" class="panel-collapse collapse container-fluid">
                        <div class="content row">
                            <div class="materials col-xs-6">
                                Recycable materials
                                <div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#green-list6"
                                           aria-expanded="false"
                                           aria-controls="green-list6" style="color: white">Green bin</a>
                                        <div id="green-list6" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Fruit
                                                </li>
                                                <li>
                                                    Vegetable
                                                </li>
                                                <li>
                                                    Pizza box
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#red-list6"
                                           aria-expanded="false"
                                           aria-controls="red-list6"
                                           style="color: white; background-color: #f40600;">Red
                                            bin</a>
                                        <div id="red-list6" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Metal
                                                </li>
                                                <li>
                                                    Coffee cups
                                                </li>
                                                <li>
                                                    Food wraps
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#blue-list6"
                                           aria-expanded="false"
                                           aria-controls="blue-list6"
                                           style="color: white;background-color: #03a9f4">Blue bin</a>
                                        <div id="blue-list6" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Shredded paper
                                                </li>
                                                <li>
                                                    Wrapping paper
                                                </li>
                                                <li>
                                                    Aluminium foil
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="postcodes col-xs-6">
                                Related postcodes
                                <ul>
                                    <li>
                                        BH1 DH3
                                    </li>
                                    <li>
                                        BH6 JD6
                                    </li>
                                    <li>
                                        BH8 KJD
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class = "panel-title">
                            <a data-toggle="collapse" href ="#council8" style="color: white">Oxford Council</a>
                        </h4>
                    </div>
                    <div id="council8" class="panel-collapse collapse container-fluid">
                        <div class="content row">
                            <div class="materials col-xs-6">
                                Recycable materials
                                <div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#green-list7"
                                           aria-expanded="false"
                                           aria-controls="green-list7" style="color: white">Green bin</a>
                                        <div id="green-list7" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Fruit
                                                </li>
                                                <li>
                                                    Vegetable
                                                </li>
                                                <li>
                                                    Pizza box
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#red-list7"
                                           aria-expanded="false"
                                           aria-controls="red-list7"
                                           style="color: white; background-color: #f40600;">Red
                                            bin</a>
                                        <div id="red-list7" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Metal
                                                </li>
                                                <li>
                                                    Coffee cups
                                                </li>
                                                <li>
                                                    Food wraps
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="label label-primary" data-toggle="collapse" href="#blue-list7"
                                           aria-expanded="false"
                                           aria-controls="blue-list7"
                                           style="color: white;background-color: #03a9f4">Blue bin</a>
                                        <div id="blue-list7" class="collapse material-list">
                                            <ul>
                                                <li>
                                                    Shredded paper
                                                </li>
                                                <li>
                                                    Wrapping paper
                                                </li>
                                                <li>
                                                    Aluminium foil
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="postcodes col-xs-6">
                                Related postcodes
                                <ul>
                                    <li>
                                        BH1 DH3
                                    </li>
                                    <li>
                                        BH6 JD6
                                    </li>
                                    <li>
                                        BH8 KJD
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="js/bootstrap-material-js/ripples.min.js"></script>
<script src="js/bootstrap-material-js/material.js"></script>
<script>
    $(function () {
        $.material.init();
    });
</script>
</body>
</html>