<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Lookup</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Material Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery Javascript library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Bootstrap Material Design -->
    <link href="css/bootstrap-material-css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="css/bootstrap-material-css/ripples.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<script src="js/bootstrap-material-js/ripples.min.js"></script>
<script src="js/bootstrap-material-js/material.js"></script>
<script>
    $(function () {
        $.material.init();
    });
</script>
</body>
</html>