<html>
<head>
  <title>Log in</title>
  <link rel="icon" href="../images/reclaimLogo.PNG">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="main.css">
  <!-- jQuery Javascript library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Reclaim</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Login</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container-fluid">
    <div class="jumbotron">
      <div class="log-div">
        <h1>Welcome New Member</h1>
        <div>Reclaim all those sweet points right now!</div>
        <form method="post">
          <div class="form-group col-xs-12">
            <label class="control-label" for="username">Your special username</label>
            <input required type="text" class="form-control" id="username">
          </div>
          <div class="form-group col-xs-12">
            <label class="control-label" for="focusedInput2">Set a password</label>
            <input required type="password" class="form-control" id="pwd" minlength="8">
          </div>
          <div class="form-group col-xs-12">
              <label class="control-label" for="pwdConfirm">Confirm password</label>
              <input required type="password" class="form-control" id="pwdConfirm">
            </div>
            <div class="form-group col-xs-12">
              <label class="control-label" for="email">Email</label>
              <input required type="email" class="form-control" id="email">
            </div>
            <a href = "#" class="terms col-xs-12">Terms and conditions</a>
            <div class = "checkbox terms col-xs-12">
              <label><input required type = "checkbox" value = "" id="termsAndConditions"> Accept terms and conditions</label>
            </div>
            <div class="col-xs-12">
              <button type = "submit" class = "btn btn-default active" id="submit">Submit</button>
            </div>
        </form>

      </div>
    </div>
  </div>
</body>
</html>
